<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About Page</title>

		<!-- Add styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

		<style media="screen">
			body {
				background: black;
			}

			.white {
				background: gray;
				margin-top: 3px;
			}
		</style>

	</head>
	<body>

	<!-- Use header partial -->
	{{> header}}

	<div class="container" style="padding-top: 50px">
		<div class="row">
			<div class="col-lg-6 white" style="text-align:right">
				<h1>If animal is here...</h1>
			</div>
			<div class="col-lg-6">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

			</div>
			<div class="col-lg-6 white">
				<h1>...Then drone goes there</h1>
			</div>
		</div>
		<div class="row" style="text-align:right">
			<div class="col-lg-6 white">
				<h1>Then animal goes there...</h1>
			</div>
			<div class="col-lg-6">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

			</div>
			<div class="col-lg-6 white">
				<h1>...Then drone goes there</h1>
			</div>
		</div>
		<div class="row" style="text-align:right">
			<div class="col-lg-6 white">
				<h1>Then animal goes there...</h1>
			</div>
			<div class="col-lg-6">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

			</div>
			<div class="col-lg-6 white">
				<h1>...Then drone goes there</h1>
			</div>
		</div>
		<div class="row" style="text-align:right">
			<div class="col-lg-6 white">
				<h1>Then animal goes there...</h1>
			</div>
			<div class="col-lg-6">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

			</div>
			<div class="col-lg-6 white">
				<h1>...Then drone goes there</h1>
			</div>
		</div>
		<div class="row" style="text-align:right">
			<div class="col-lg-6 white">
				<h1>Then animal goes there...</h1>
			</div>
			<div class="col-lg-6">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

			</div>
			<div class="col-lg-6 white">
				<h1>...Then drone goes there</h1>
			</div>
		</div>
		<div class="row" style="text-align:right">
			<div class="col-lg-6 white">
				<h1>Then animal goes there...</h1>
			</div>
			<div class="col-lg-6">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

			</div>
			<div class="col-lg-6 white">
					<h1>Then animal leaves...</h1>
			</div>
		</div>
	</div>








<!-- Use header partial -->
{{> footer}}
