<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <title>Herding Simulation</title>

    <!-- Add styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <!-- Add p5.js scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script> -->
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>

    <!-- Add my .js scripts -->
    <script src="js/sketch.js"></script>
    <script src="js/environment.js"></script>
    <script src="js/animal.js"></script>
    <script src="js/shepherd.js"></script>
    <script src="js/novelty.js"></script>
    <script src="js/gate.js"></script>

  </head>
  <body>
    <!-- Use header partial -->
    {{> header}}

    <!-- Canvas div -->
    <div class="container-fluid" align:'center'>
      <div class="row" id="simRow">
        	<div id="myCanvas"></div>
      </div>

      <!-- Behaviour Sliders -->
      <div class="row" id="controls">
        <div class="col-lg-3" id='controlsLeft'>
          <div>
            <h5><strong><u>Force Sliders</u></strong></h5>
          </div>
          <br>
          <div id="speSli">
            <label for="speedSlider">Speed: </label>
          </div>
          <div id="sepSli">
            <label for="separationSlider">Seperation: </label>
          </div>
          <div id="aliSli">
            <label for="aliSlider">Allignment: </label>
          </div>
          <div id="cohSli">
            <label for="cohesionSlider">Cohesion: </label>
          </div>
        </div>

        <!-- Add/Delete Buttons -->
        <div class="col-lg-3" id="controlsMiddle" align="center">
          <div id="midName">
            <h5><strong><u>Edit Canvas</u></strong></h5>
          </div>
          <br>
          <div id="addDrop">
            <label for="sel" style="display:block">Click canvas to ...</label>
          </div><br>
          <div id="animalButtons">
          </div>
          <div id="shepButtons">
          </div>
          <div id="novButtons">
          </div><br>
          <div id="delAll">
          </div>
        </div>

        <!-- CheckBox xontorls -->
        <div class="col-lg-3" id="controlsRight">
          <div>
            <h5><strong><u>Edit Zones</u></strong></h5>
          </div>
          <br>
          <div id="zoneDiv">
          </div>
        </div>

        <!-- CheckBox xontorls -->
        <div class="col-lg-3" id="controlsInfo">
          <div>
            <h5><strong><u>Sim Info</u></strong></h5>
          </div>
          <br>
          <div id="numAnimalsDiv">

          </div>
        </div>

      </div>
    </div>

    <!-- More scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
