<!DOCTYPE html>
<html>
    <head>
        <title>Shepherding Algorithms</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Audiowide|Monoton" rel="stylesheet">
        <!-- Do stuff depending on browser version, makes page more cross-browser compatible -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div id="landing-header">
 		<h1>Shepherding Algorithms</h1>
		<a href="/index" class="btn btn-lg btn-black">Test Page</a>
		<a href="/index" class="btn btn-lg btn-black">Home Page</a>
		<a href="/about" class="btn btn-lg btn-black">About Page</a>
    </div>

    <!-- Backgrounds attached to list items as they have to be attached to a html element -->
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>
