<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <!-- Add Page Title -->
    <title>Sherping Algorithms</title>

    <!-- Add styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/testStyles.css">
    <!-- Add Google font -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="css/images/favicon.ico">

    <!-- Add p5.js scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script> -->
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>

    <!-- Add my .js scripts -->
    <script src="js/test/manageControls.js"></script>
    <script src="js/test/manageEnv.js"></script>
    <script src="js/test/testEnvironment.js"></script>
    <script src="js/animalAgent.js"></script>
    <script src="js/test/testerAnimal.js"></script>
    <script src="js/shepherdManual.js"></script>
    <script src="js/singleGPSUAV.js"></script>
    <script src="js/multiGPS.js"></script>
    <script src="js/novelty.js"></script>
    <script src="js/obstacle.js"></script>
    <script src="js/gate.js"></script>
    <script src="js/oracle.js"></script>
    <script src="js/oracleShepherd.js"></script>
    <script src="js/test/sketchTest.js"></script>

  </head>
  <body>
    <!-- Use header partial -->
    {{> header}}

    <!-- Canvas div -->
    <div class="container-fluid" align:'center'>
      <div class="row" id="simRow">
        <!-- Buttons to initialize UAV's/ start simulation-->
        <div class="col-lg-2" id="startingParamsDiv">
          <div>
            <div>
              <h6><strong><u>Run It...</u></strong></h6>
              <br>
              <!-- Intilize UAV Buttons -->
              <div id="singleGPSBtn">
              </div>
              <br>
              <div id="singleOracleBtn">
              </div>
              <br>
              <div id="multiGPSBtn">
              </div>
              <br>
              <div id="multiOracleBtn">
              </div>
              <br>

              <!-- Buttons To Chane Starting Parameters -->
              <h6><strong><u>Simulation Controls</u></strong></h6>
              <br><br>
              <h6><strong><u>Select Env</u></strong></h6>
              <div id="envRadio"><!-- Change Starting Environment -->
              </div>
              <!-- Sliders For Number of Animals and Animal Starting Positions -->
              <div id="numAnimalsSli">
                <label for="numAnimalsSlider">Animals: </label>
              </div>
              <div id="xMinAnimalsSli">
                <label for="xMinAnimalsSlider">X Min: </label>
              </div>
              <div id="xMaxAnimalsSli">
                <label for="xMaxAnimalsSlider">X Max: </label>
              </div>
              <div id="yMinAnimalsSli">
                <label for="yMinAnimalsSlider">Y Min: </label>
              </div>
              <div id="yMaxAnimalsSli">
                <label for="yMaxAnimalsSlider">Y Max: </label>
              </div>
              <br>
              <!-- Pause/Reset Buttons -->
              <div id="pauseBtn">
              </div>
              <div id="resetBtn">
              </div>
            </div>
          </div>
          <br>

        </div> <!-- Close Starting Params Column -->

        <!-- Canvas Column -->
        <div class="col-lg-10">
          <div id="myCanvas"></div>
        </div>
      </div> <!-- Close Simrow -->

      <!-- Info Row Titles -->
      <div class="row simHeader">
          <div class="col-lg-2 borderRight infoHeader" >
            <h5><b>Env Info</b></h5>
          </div>
          <div class="col-lg-2 borderRight infoHeader">
            <h5><b>Herd Info</b></h5>
          </div>
          <div class="col-lg-2 borderRight infoHeader">
            <h5><b>GPS UAV</b></h5>
          </div>
          <div class="col-lg-2 borderRight infoHeader">
            <h5><b>Oracle UAV</b></h5>
          </div>
          <div class="col-lg-2 borderRight infoHeader">
            <h5><b>Animal Display</b></h5>
          </div>
          <div class="col-lg-2 infoHeader">
            <h5><b>Edit Canvas</b></h5>
          </div>
      </div>

      <!-- Environment Info Display Div -->
      <div class="row" id="controls">
        <div class="col-lg-2 con" id='control1'>
          <div id="envInfoDiv">
          </div>
        </div>

        <!-- Animal Info Display Div -->
        <div class="col-lg-2 con" id="control2" align="center">
          <div id="animalInfoDiv">
          </div>
        </div>

        <!-- GPS UAV Info Display Div -->
        <div class="col-lg-2 con" id="control3">
          <h6><strong><u>GPS Shep</u></strong></h6>
          <br>
          <div id="gpsInfoDiv">
          </div>
          <p>Desired Speed: .35 - .5</p>
        </div>

        <!-- Oracle Info Display Div -->
        <div class="col-lg-2 con orangeLetters" id="control4">
          <h6><strong><u>Oracle</u></strong></h6>
          <div id="oracleInfoDiv">
          </div>
          <br>
          <h6><strong><u>Oracle Shep</u></strong></h6>
          <div id="oShepInfoDiv">
          </div>
          <p>Collecting: X</p>
          <p>Moving: X</p>
          <p>Avoiding: X</p>
          <p>Desired Heading: X</p>
          <p>Desired Speed: .35 - .5</p>
        </div>

        <!-- Canvas Sliders Display Div -->
        <div class="col-lg-2 con" id="control5">
          <div id="zoneDiv">
          </div>
        </div>

        <!-- Agent/Object addition/removal -->
        <div class="col-lg-2 con" id="control6">
          <div id="addDrop"> <!-- Add Agent/Object Dropdown -->
            <label for="sel" style="display:block">Click canvas to ...</label>
          </div><br>
          <div id="animalButtons"> <!-- Remove Animal Button -->
          </div>
          <div id="shepButtons">   <!-- Remove Manual Shepherd Button -->
          </div>
          <div id="novButtons">    <!-- Remove Stressor Button -->
          </div><br>
          <div id="delAll"> <!-- Remove All Agents/Objects Button -->
          </div>
        </div>
      </div> <!-- Close Environment Info Display Row -->

      <!-- Control Row Display Titles -->
      <div class="row simHeader">
          <div class="col-lg-8 borderRight infoHeader">
            <h5><b>Animal Controls</b></h5>
          </div>
          <div class="col-lg-4 infoHeader">
            <h5><b>UAV Controls</b></h5>
          </div>
      </div>

      <!-- Agent Controls Row -->
      <div class="row" id="controlsRow2">
        <!-- UAV Max Speed Slider -->
        <div class="col-lg-2 con2" id="control7">
          <div>
            <h6><strong><u>Max Speeds</u></strong></h6>
          </div>
          <div id="wSpeSli">
            <label for="wSpeedSlider">Wan: </label>
          </div>
          <div id="pSpeSli">
            <label for="pSpeedSlider">Pre: </label>
          </div>
          <div id="fSpeSli">
            <label for="fSpeedSlider">Fli: </label>
          </div>

          <br>

          <!-- UAV Set Velocity Sliders -->
          <div>
            <h6><strong><u>Set Velocity</u></strong></h6>
          </div>
          <div id="wVelSli">
            <label for="wVelSlider">Wan: </label>
          </div>
          <div id="pVelSli">
            <label for="pVelSlider">Pre: </label>
          </div>
          <div id="fVelSli">
            <label for="fVelSlider">Fli: </label>
          </div>
          <br>
        </div>

        <!-- UAV Set Zone Size Sliders -->
        <div class="col-lg-2 con2" id="control8">
          <!-- Flocking Forces -->
          <div>
            <h6><strong><u>Force Radius</u></strong></h6>
          </div>
          <div id="sepSizeSli">
            <label for="sepSizeSlider">Sep: </label>
          </div>
          <div id="aliSizeSli">
            <label for="aliSizeSlider">Ali: </label>
          </div>
          <div id="cohSizeSli">
            <label for="cohSizeSlider">Coh: </label>
          </div>
          <div id="dSepSizeSli">
            <label for="dSepSizeSlider">dSep: </label>
          </div>

          <br>

          <!-- Flight/Pressure Zones -->
          <div>
            <h6><strong><u>Zone Radius</u></strong></h6>
          </div>
          <div id="preSizeSli">
            <label for="preSizeSlider">Pre: </label>
          </div>
          <div id="fliSizeSli">
            <label for="fliSizeSlider">Fli: </label>
          </div>
          <br>
        </div>

        <!-- UAV Set Flocking Strength Forces -->
        <div class="col-lg-2 con2" id="control9">
          <div>
            <!-- Separation -->
            <h6><strong><u>Sep Strength</u></strong></h6>
          </div>
          <div id="sepWan">
            <label for="sepWanSlider">Wan: </label>
          </div>
          <div id="sepPre">
            <label for="sepWanSlider">Pre: </label>
          </div>
          <div id="sepFli">
            <label for="sepWanSlider">Fli: </label>
          </div>
          <br>

          <!-- Alignment -->
          <div>
            <h6><strong><u>Ali Strength</u></strong></h6>
          </div>
          <div id="aliWan">
            <label for="aliWanSlider">Wan: </label>
          </div>
          <div id="aliPre">
            <label for="aliPreSlider">Pre: </label>
          </div>
          <div id="aliFli">
            <label for="aliFliSlider">Fli: </label>
          </div>
          <br>
        </div>

        <!-- Cohesion -->
        <div class="col-lg-2 con2" id="control10">
          <div>
            <h6><strong><u>Coh Strength</u></strong></h6>
          </div>
          <div id="cohWan">
            <label for="cohWanSlider">Wan: </label>
          </div>
          <div id="cohPre">
            <label for="cohPreSlider">Pre: </label>
          </div>
          <div id="cohFli">
            <label for="cohFliSlider">Fli: </label>
          </div>
          <br>

          <!-- Separation From UAV -->
          <div>
            <h6><strong><u>dSep Strength</u></strong></h6>
          </div>
          <div id="dSepPre">
            <label for="dSepPreSlider">Pre: </label>
          </div>
          <div id="dSepFli">
            <label for="dSepFliSlider">Fli: </label>
          </div>
          <br>

          <!-- Gaol and Stressor separation Sliders -->
          <div id="goalAnimalsSli">
            <label for="goalAnimalsSlider">Goal: </label>
          </div>
          <div id="stressorAnimalsSli">
            <label for="stressorAnimalsSlider">Avoid: </label>
          </div>
        </div>

        <!-- Shepherd UAV Controls/Canvas Info -->
        <div class="col-lg-2 con2" id="control11">
          <div>
            <h6><strong><u>Shepherd</u></strong></h6>
          </div>
          <div id="uavSpeSli"> <!-- Shepherd Max Speed Slider -->
            <label for="uavSpeedSlider">Speed: </label>
          </div>
          <br>
          <div id="uavStuff"> <!-- Shepherd Canvas Display Sliders -->
          </div>
          <h6><strong><u>Select Collection</u></strong></h6>
          <div id="collectRadio"> <!-- Shepherd Colloction Type Radio Button -->
          </div>
        </div>

        <!-- Oracle Controls/Display -->
        <div class="col-lg-2 con2" id="control12">
          <div>
            <h6><strong><u>Oracle</u></strong></h6>
          </div>
          <div id="oracleSpeSli"> <!-- Oracle Max Speed Slider -->
            <label for="oracleSpeedSlider">Speed: </label>
          </div>
          <br>
          <div id="oracleStuff">   <!-- Display Oracle Sectors Slider -->
          </div>
        </div>

      </div> <!-- Close Agent Controls Row -->
    </div> <!-- Close container -->

    <!-- More scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{> footer}} <!--Use footer partial -->
