<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <title>Sherping Algorithms</title>

    <!-- Add styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/testStyles.css">
    <!-- Add Google font -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="css/images/favicon.ico">

    <!-- Add p5.js scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script> -->
    <script	src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.18/chance.min.js"></script>

    <!-- Add my .js scripts -->
    <script src="js/test/sketchTest.js"></script>
    <script src="js/test/manageControls.js"></script>
    <script src="js/test/manageEnv.js"></script>
    <script src="js/environment.js"></script>
    <script src="js/test/animalTest.js"></script>
    <script src="js/shepherdManual.js"></script>
    <script src="js/autoShepherd.js"></script>
    <script src="js/novelty.js"></script>
    <script src="js/obstacle.js"></script>
    <script src="js/gate.js"></script>
    <script src="js/oracle.js"></script>
    <script src="js/oracleShepherd.js"></script>

  </head>
  <body>
    <!-- Use header partial -->
    {{> header}}

    <!-- Canvas div -->
    <div class="container-fluid" align:'center'>
      <div class="row" id="simRow">

        <div class="col-lg-2" id="moreControls">
          <div>
            <h6><strong><u>Sim Info</u></strong></h6>
          </div>
          <br>
          <div id="simInfoDiv">

          </div>

        </div> <!-- Close moreControls col -->

        <div class="col-lg-10">
          <div id="myCanvas"></div>
        </div>

      </div> <!-- Close Simrow -->

      <div class="row simHeader">
          <div class="col-lg-12">
            <h2>Header</h2>
          </div>
      </div>

      <!-- Behaviour Sliders -->
      <div class="row" id="controls">
        <div class="col-lg-2 con" id='control1'>
          <div>
            <h6><strong><u>Force Radius</u></strong></h6>
          </div>
          <div id="sepSizeSli">
            <label for="sepSizeSlider">Sep: </label>
          </div>
          <div id="aliSizeSli">
            <label for="aliSizeSlider">Ali: </label>
          </div>
          <div id="cohSizeSli">
            <label for="cohSizeSlider">Coh: </label>
          </div>
          <div id="dSepSizeSli">
            <label for="dSepSizeSlider">dSep: </label>
          </div>

          <br>

          <div>
            <h6><strong><u>Zone Radius</u></strong></h6>
          </div>
          <div id="preSizeSli">
            <label for="preSizeSlider">Pre: </label>
          </div>
          <div id="fliSizeSli">
            <label for="fliSizeSlider">Fli: </label>
          </div>
        </div>

        <!-- Add/Delete Buttons -->
        <div class="col-lg-2 con" id="control2" align="center">
          <div>
            <h6><strong><u>Max Speeds</u></strong></h6>
          </div>
          <div id="wSpeSli">
            <label for="wSpeedSlider">Wan: </label>
          </div>
          <div id="pSpeSli">
            <label for="pSpeedSlider">Pre: </label>
          </div>
          <div id="fSpeSli">
            <label for="fSpeedSlider">Fli: </label>
          </div>

          <br>

          <div>
            <h6><strong><u>Set Velocity</u></strong></h6>
          </div>
          <div id="wVelSli">
            <label for="wVelSlider">Wan: </label>
          </div>
          <div id="pVelSli">
            <label for="pVelSlider">Pre: </label>
          </div>
          <div id="fVelSli">
            <label for="fVelSlider">Fli: </label>
          </div>
        </div>

        <!-- CheckBox xontorls -->
        <div class="col-lg-2 con" id="control3">
          <div id="midName">
            <h6><strong><u>Edit Canvas</u></strong></h6>
          </div>
          <br>
          <div id="addDrop">
            <label for="sel" style="display:block">Click canvas to ...</label>
          </div><br>
          <div id="animalButtons">
          </div>
          <div id="shepButtons">
          </div>
          <div id="novButtons">
          </div><br>
          <div id="delAll">
          </div>
        </div>

        <!-- CheckBox xontorls -->
        <div class="col-lg-2 con" id="control4">
          <div>
            <h6><strong><u>Canvas Info</u></strong></h6>
          </div>
          <br>
          <div id="zoneDiv">
          </div>
        </div>

        <!-- CheckBox xontorls -->
        <div class="col-lg-2 con" id="control5">

        </div>

        <!-- CheckBox xontorls -->
        <div class="col-lg-2 con" id="control6">
          <div>
            <h6><strong><u>Tester</u></strong></h6>
            <br><br>
            <div id="droneHerd">
            </div>
            <br>
            <div id="oracleBtn">
            </div>
            <br>
            <div id="multiBtn">
            </div>
            <br>
            <div id="resetBtn">
            </div>
            <br>
            <div id="pauseBtn">
            </div>
          </div>
        </div>
      </div> <!-- Close controls row -->

      <div class="row simHeader">
          <div class="col-lg-12">
            <h2>Header</h2>
          </div>
      </div>

      <div class="row" id="controlsRow2">

        <div class="col-lg-2 con2" id="control7">
          <h6><strong><u>Environment</u></strong></h6>
          <div id="envRadio" class=radio-inline>

          </div>
        </div>
        <div class="col-lg-2 con2" id="control8">
          <div>
            <h6><strong><u>Sep Strength</u></strong></h6>
          </div>
          <div id="sepWan">
            <label for="sepWanSlider">Wan: </label>
          </div>
          <div id="sepPre">
            <label for="sepWanSlider">Pre: </label>
          </div>
          <div id="sepFli">
            <label for="sepWanSlider">Fli: </label>
          </div>
          <br>

          <div>
            <h6><strong><u>Ali Strength</u></strong></h6>
          </div>
          <div id="aliWan">
            <label for="aliWanSlider">Wan: </label>
          </div>
          <div id="aliPre">
            <label for="aliPreSlider">Pre: </label>
          </div>
          <div id="aliFli">
            <label for="aliFliSlider">Fli: </label>
          </div>
          <br>
        </div>

        <div class="col-lg-2 con2" id="control9">
          <div>
            <h6><strong><u>Coh Strength</u></strong></h6>
          </div>
          <div id="cohWan">
            <label for="cohWanSlider">Wan: </label>
          </div>
          <div id="cohPre">
            <label for="cohPreSlider">Pre: </label>
          </div>
          <div id="cohFli">
            <label for="cohFliSlider">Fli: </label>
          </div>
          <br>

          <div>
            <h6><strong><u>dSep Strength</u></strong></h6>
          </div>
          <div id="dSepPre">
            <label for="dSepPreSlider">Pre: </label>
          </div>
          <div id="dSepFli">
            <label for="dSepFliSlider">Fli: </label>
          </div>
        </div>

        <div class="col-lg-2 con2" id="control10">
          <h1>hello</h1>
        </div>
        <div class="col-lg-2 con2" id="control11">
          <h1>hello</h1>
        </div>
        <div class="col-lg-2 con2" id="control12">
          <h1>hello</h1>
        </div>

      </div>
    </div> <!-- Close container -->

    <!-- More scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{> footer}} <!--Use footer partial -->
