html, .container {
	height:100%;
	width: 100%;
}

body {
	min-height: 100%;
	min-width: 100%;
	font-family: 'Orbitron', sans-serif;
  background-image: linear-gradient(to right,rgb(10,10,10), rgb(63, 136, 191), rgb(10,10,10));
  border: 5px solid white;
  color: rgb(36, 188, 25);
}

.navbar{
	border-bottom: 2px solid white;
  background-color: black;
}

a {
  color: rgb(36, 188, 25);
}

a:hover {
  color: white;
}

canvas {
  margin-top: 20px;
	margin-bottom: 20px;
  /* border: 5px solid rgb(125,125,125); */
  border: 5px solid rgba(12,12,12, 0.8);
}

#simRow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
	overflow-x: auto;
	overflow-y: hidden;
}

h2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#controls {
  background-color: black;
  border-top: 5px solid white;
  color: rgb(36, 188, 25);
	text-align: center;
	padding: 30px;
}

button {
	min-width: 180px;
	border: 3px solid rgb(36, 188, 25);
}

button:hover {
	color: white;
	background: black;
}

button:active {
	color: white;
	background: rgb(36, 188, 25);
}
