body {
	background-color: black;
	background-image: url('./images/moreGreenNeon.jpg'); /*Photo by Osman Rana on Unsplash, Photo by Fabio Tura on Unsplash*/
	/* position: absolute; */
	background-size: cover;
}

#landing-header {
	font-family: 'Audiowide', cursive;
	z-index: 1;
	position: relative;
	text-align: center;
	padding-top: 40vh;
}

#landing-header h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	font-size: 50px;
  border-top: 5px groove rgb(36, 188, 25);
	border-bottom: 5px groove rgb(36, 188, 25);
  color: white;
}

.btn-black {
	color: white;
	background-color: black;
	border: 5px groove rgb(36, 188, 25);
}

.btn-black:hover {
	color: white;
	background-color: rgb(5, 122, 10);
	border: 5px groove white;
}

.btn-black:active, .open>.dropdown-toggle.btn-success {
	background-color: black;
	border: 5px groove rgb(36, 188, 25);
}

.btn-black:active:focus {
	background-color: black;
	border: 5px groove rgb(36, 188, 25);
 /*
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url('./images/herd.jpg');
}
.slideshow li:nth-child(2) {
  background-image: url('./images/drone.jpg');
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url('./images/code.jpg');
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url('./images/dog.jpg');
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url('./images/sheep.jpg');
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

.no-cssanimations .slideshow li {
	opacity: 1;
}
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

*/
