label {
  font-size: 12px;
}

h6 {
  padding-left: 10px;
}

p {
  font-size: 12px;
}

.con {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 5px solid white;
}

#control6 {
    border-right: 0px;
}

.con2 {
  border-top: 5px solid white;
  border-right: 5px solid white;
}

#controlsRow2 {
  min-height: 200px;
}

.simHeader {
  border-top: 5px solid white;
  text-align: center;
}

.white {
  color: white;
}
