body {
  background-image: linear-gradient(to right,rgb(10,10,10), rgb(63, 136, 191), rgb(10,10,10));
  text-align: center;
  color: rgb(36, 188, 25)
}

.col-lg-4 {
  padding-top: 40px;
}

 h4 {
   font-weight: bold;
 }

h5 {
  padding-top: 40px;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}
